body,
html {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 800px;
}

.animation {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 448px;
  height: 271px;
  margin-left: -224px;
  margin-top: -135px;
}

.img-container {
  background: url(../public/block.png) no-repeat center center;
  background-size: contain;
  width: 428px;
  height: 281px;
  margin: 0 auto;
  margin-top: -10px;
}

.square {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  background: #33364d;
  border-radius: 3px;
  z-index: 1;
}

.shadow {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 80px;
  height: 7px;
  margin-left: -40px;
  background: #333;
  opacity: 0;
  border-radius: 50%;
  z-index: 0;
}
